body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #ebf3f8;
    color: #333;
  }
  
  h1 {
    text-align: center;
  }
  
  .controls {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
  }
  
  #galleryCaption {
    color: #333;
    font-family: Arial, sans-serif
  }

  .image-card {
    background: #e2f3fa;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .image-card:hover{
    background: #d3f2ff;
  }
  
  .image-card img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .image-info {
    padding: 10px;
  }
  
  .image-info h3 {
    margin: 0 0 5px;
  }
  
  .image-info small {
    color: #777;
  }

  .rounded-btn {
    background-color: #ceeffb;
    /* Light blue */
    color: #222222;
    /* Black text */
    border: none;
    border-radius: 999px;
    /* Fully rounded */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .rounded-btn:hover {
    background-color: #92cde1;
    /* Slightly darker blue on hover */
  }