body {
      background: #eee url();
      font-family: calibri, Verdana, Arial, Helvetica, sans-serif;
      font-size: 10px;
      color: #333;
      letter-spacing: 1px;
    }


    #layout {
      margin: 70px auto;
      width: 800px;
    }



    #navigationbar {
      width: 800px;
      float: left;
      margin: 0 auto;
    }

    #navigation {
      height: 20px;
      line-height: 20px;
      background: transparent;
      border-radius: 10px;
      border: 0px solid #ebb81f;
      margin: 5px;
    }



    #banner {
      width: 800px;
      float: left;
      margin: 0 auto;
    }

    #bannertextorimage {
      height: 70px;
      line-height: 70px;
      background: transparent;
      border-radius: 10px;
      border: 0px solid #ebb81f;
      margin: 5px;
    }

    .text {
      font: italic 30px monospace;
      border-bottom: 4px solid #fff;
      text-align: center;
      color: #C1C1E3;
      letter-spacing: 4px;
      text-transform: uppercase;
    }



    #content {
      width: 400px;
      float: left;
      margin: 0 auto;
    }

    #contentbox {
      background: #FFFFFF;
      border-radius: 10px;
      border: 0px solid #ebebeb;
      margin: 5px;
      padding: 5px;
      margin-bottom: 10px;
    }



    #left {
      width: 200px;
      float: left;
      margin: 0 auto;
    }

    #leftbox {
      border-radius: 10px;
      padding: 5px;
      background: #FFF;
      border-radius: 10px;
      border: 0px solid #1fb8eb;
      margin: 5px;
      margin-bottom: 10px;
    }



    #right {
      width: 200px;
      float: left;
      margin: 0 auto;
    }

    #rightbox {
      padding: 5px;
      border-radius: 10px;
      background: #FFF;
      border-radius: 10px;
      border: 0px solid #b81feb;
      margin: 5px;
      margin-bottom: 10px;
    }



    #footer {
      width: 800px;
      float: left;
      margin: 0 auto;
      clear: both;
    }

    #footerbox {
      height: 20px;
      background: transparent;
      border-radius: 0px;
      border-top: 0px solid #1feb52;
      margin: 5px;
      padding-top: 5px;
      text-align: center;
    }



    a:link {
      color: #222;
      text-decoration: none;
    }

    a:visited {
      color: #222;
      text-decoration: none;

    }

    a:hover {
      color: #666;
      text-decoration: none;

    }



    ::-webkit-scrollbar-thumb {
      background-color: #fff;
      border-radius: 0px;
      border: 1px solid #999;
    }

    ::-webkit-scrollbar {
      width: 7px;
      height: 4px;
      background: #fff;
    }



    .small-title {
      color: #666;
      font: 12px arial;
      line-height: 12px;
      background: #F6EFFF;
      border-radius: 10px;
      margin-bottom: 5px;
    }

    .big-title {
      color: #666;
      font: 16px arial;
      line-height: 16px;
      background: #FFEFFA;
      border-radius: 10px;
      margin-bottom: 5px;
    }



    #Table {
      border-collapse: collapse;
      padding: 5px;
      width: 380px;
    }

    #Table th {
      padding: 0px;
      background: #EFF4FF;
      color: #666;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      width: 50%;
      text-align: left;
      font: 12px arial;
      line-height: 12px;
      letter-spacing: 2px;
    }

    #Table td {
      text-align: center;
      padding: 5px;
      background: #ffffff;
      color: #313030;
      width: 50%;
      text-align: left;
    }


    #navigation a:link,
    a:visited,
    a:active {
      font: 12px monospace;
      text-transform: uppercase;
      line-height: 20px;
      padding: 4px;
      letter-spacing: 2px;
      margin-right: 10px;
      background: #fff;
      border-radius: 10px;

    }

    #navigation a:hover {
      background: #fff;
      text-transform: uppercase;
      line-height: 20px;
      padding: 4px;
      letter-spacing: 2px;
      margin-right: 10px;
      color: #666;
    }

    textarea {
      font-size: 10px;
      letter-spacing: 1px;
      color: #999;
    }

    .visited {
      fill: #4CAF50;
      /* green */
    }

    .not-visited {
      fill: #ccc;
    }

    svg path {
      stroke: #fff;
      stroke-width: 1;
    }